<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpalm.meetingtracker">
    // add location service and internet permission to get the location of the user

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".ConfirmPinActivity" />
        <activity
            android:name=".CreateEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReminderSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PinSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetupPin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginPin" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpcomingEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PastEvents"
            android:theme="@style/AppTheme.NoActionBar"></activity>


    </application>

</manifest>